[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
certifi = "*"
chardet = "*"
click = "*"
flask = "*"
flask-compress = "*"
flask-cors = "*"
flask-limiter = "*"
idna = "*"
itsdangerous = "*"
"jinja2" = "*"
limits = "*"
markupsafe = "*"
requests = "*"
"urllib3" = "*"
werkzeug = "*"
flask-pymongo = "*"
cerberus = "*"
flask-login = "*"
pyjwt = "*"
pycodestyle = "*"
mongoengine = "*"
voluptuous = "*"
blinker = "*"
py-bcrypt = "*"
python-dotenv = "*"

[requires]
python_version = "3.7.0"
